.hideme {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hideme.show {
    display: block;
    opacity: 1;
}

.has-hover {
    transition: all 0.3s;
}

.has-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: pointer;
}

.has-zoom {
    transition: all 0.3s;
}

.has-zoom:hover {
    transform: scale(1.03);
}

.is-gray {
    filter: grayscale(50%) brightness(70%);
}

.cut-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.transparent-bg {
    filter: opacity(0.8);
}

#webgl-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

@keyframes ambientColors {
    0% { color: #ff6b6b; }
    25% { color: #4ecdc4; }
    50% { color: #45b7d1; }
    75% { color: #96c93d; }
    100% { color: #ff6b6b; }
}

@keyframes pulseZoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.04); }
    100% { transform: scale(1); }
}

.is-lyric {
    overflow-y: auto;
    text-align: center;
    margin: 0 auto;
    max-width: 40vw;
    max-height: 15vh;
    font-size: 1.2em;
    padding: 1rem;
    transition: all 0.3s ease;
    animation: 
        ambientColors 8s infinite,
        pulseZoom 2s ease-in-out infinite;
    text-shadow: 0 0 8px rgba(255,255,255,0.5);
}

.scroll-container {
    position: relative;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
    width: 0.5rem;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(55, 55, 55, 0.8); /* Dark mode color */
    border-radius: 0.5rem;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: rgba(30, 30, 30, 0.8); /* Dark mode track color */
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}

@keyframes onHover {
    0% { transform: scale(1) translateY(-10px);  }
    50% { transform: scale(1.05) translateY(-10px); }
    100% { transform: scale(1) translateY(-10px); }
}

.scroll-container .scroll-with {
    filter: opacity(0.8);
    position: sticky;
    bottom: 1px;
    right: 1px;
    float: right;
    z-index: 1000;
    transition: transform 0.3s ease;
    animation: float 2s ease-in-out infinite;
}

.scroll-container .scroll-with:hover {
    filter: opacity(1);
    animation: onHover 2s ease-in-out infinite;
}